.twoCol {
	width: calc(50% - 2px);
	height: 200px;
	background-color: #555;
	float: left;
}

#leftCol {
	margin-right: 4px;
}

.threeCol {
	margin-top: 4px; 
	width : calc(100%/3 - 8px/3);
	height: 200px;
	background-color: #555;
	float: left;
}

#midCol {
	margin-right: 4px;
	margin-left: 4px;
}