#navBar {
	margin: 0 auto;
	background-color: blue;
	width: 80%;
}

li {
	float: left;
	list-style-type: none;
	
}

body {
	margin: 0 auto;
	width: 80%;
	background-color: red;
}

img {
	width: 80%;
	height: 80%;
}