.mainPics{
    background-color: #999;
    width: calc(50% - 5.5px);
    float: left;
    margin-right: 3px;
    margin-top: 3px;
    height: 300px;  
}

#leftPic{
    margin-left: 4px;
}

#content p{
    margin-top:3px;
    margin-right: 3px;
    width: calc(33.33% - 5px);
    height: 400px;
    float: left;
    background-color: #555;
}

#leftP{
    margin-left: 4px;
}
