.threeCol {
	width: calc(100%/3 - 8px/3);
	height: 200px;
	background-color: #DDD;
	float: left;
	
}

#midCol {
	margin-left: 4px;
	margin-right: 4px;
}

#buyTix {
	margin: 0 auto;
	background-color: #DDD;
	width: 15%;
	margin-top: 4px;
	text-align: center;
	
}